body {
    background-image: url("./../images/stars.jpg");
}

#title-logo {
    width: 40%;
    position: relative;
}

#titleText {
    font-family: 'Geostar Fill', cursive;
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
}

#mainSection {
    margin: 3% auto;
}

#leftColumn {
    border: 5px dashed white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#rightColumn {
    border: 5px dashed white;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4, h3 {
    color: white;
}

span {
    color: white;
}

.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    color: white;
    font-size:small;
    text-align:center;
    padding: 20px;
}