body {
    background-image: url("./../images/stars.jpg");
}

#title-logo {
    width: 40%;
    position: relative;
}

#titleText {
    font-family: 'Geostar Fill', cursive;
    font-size: 18px;
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
}

#mainSection {
    margin: 3% auto;
}

#leftColumn {
    border: 5px dashed white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#rightColumn {
    border: 5px dashed white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#resultTitleText {
    font-family: 'Geostar Fill', cursive;
}

#resultSound {
    font-size: 10px;
    font-style: italic;
}

h4, h3 {
    color: white;
}

span {
    color: white;
}

.footer {
    bottom: 0;
    width: 100%;
    color: white;
    font-size:small;
    text-align:center;
    padding: 20px;
}

@media screen and (max-width: 576px) {
    
    h1,h2,h3 {
        font-size: 1.4em;
    }
    
    h4,h5,h6{
        font-size: 1em;
    }

    #titleText{
        font-size: 90%;
    }

    #leftColumn {
        margin-bottom: 10px;
    }
}
