body {
    background-image: url("./../images/stars.jpg");
}

#title-logo {
    width: 40%;
    position: relative;
}

#titleText {
    font-family: 'Geostar Fill', cursive;
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
}

#mainSection {
    margin: 5% auto;
}

h4, h3 {
    color: white;
}

span {
    color: white;
}